# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# draft
Script/draft_adrc_git.m
Script/Draft_adrc.slx
Script/CallGenFunc.m
Script/CallMe.m

# papers
Doc/Material/Ref-Papers/

# vsd
Doc/图表-1.vsd
Doc/图表.vsd
Doc/图表-1.vsd
*.~vsd
*.vsd
